@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    color: #fff;
    font-size: 1em;
    font-family: 'Noto Serif', serif;
    background-color: #DDA0DD;
    
  }
  
  main {
    width: 60%;
    max-width: 1080px;
    padding: 40px 0;
    margin: 30 auto;
    
  }
  
  h1 {
    font-size: 3.75em;
    text-align: center;
    margin: 0.35em 0 0.5em;
    text-shadow: 0 2px 0 rgba(0,0,0, 0.1);
  }
  
  p {
    font-size: 1.9em;
    margin: 0;
    line-height: 1.5;
    text-align: center;
  }

  .random-QuoteBtn {
    background-color: #000000; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .Random-Quote-Generator {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .quote-box {
    padding: 20px 0;
    min-height: 200px;

  }
  

